*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    /* font-family: ; */
    margin-top: 10%;
}
.card{
    border-radius: 10px;
    height: 400px;
    width: 350px;
    background-color: white;
    padding: 30px; 
    text-align: center;
}
.card-img{
    /* height: 50%; */
    width: 100%;
    /* object-fit: cover; */
    /* object-position: center; */
    border-radius: 10px;
}
.card h1{
    font-size: 30px;
    margin: 10px 0;
}

.card h5{
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
}
.card button{
    background-color: skyblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px ;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;

}
.card #remove{
    background-color: black;
    color: #fff;
}